@font-face {
    font-family: 'CustomFont';
    src: url('fonts/futura medium condensed bt.ttf') format('truetype');
}

body {
    font-family: 'CustomFont', 'Wingdings', Arial, Helvetica;
    font-size: large;
}

p {
    font-family: 'CustomFont', 'Wingdings', Arial, Helvetica;
    font-size: small;
}